<!DOCTYPE html>
<html>
<head>
    <title>Go go go</title>
    <link rel="stylesheet" href="/css/demo-styles.css">
    <link rel="stylesheet" href="/css/fluid_grid.css">
    <link rel="stylesheet" href="/css/html5reset-1.6.1.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {               
            function TileAnimate() {
                $(".tile-content").hover(function (event) {
                    event.stopPropagation();
                    if (!$(this).hasClass('.tile-content .content.one')) {
                        $(this).dequeue().stop().animate({ top: "-145px"  });
                    }
                }, function () {
                    $(this).addClass('animated').animate({ top: "0"  }, "normal", "linear", function () {
                        $(this).removeClass('animated').dequeue();
                    });
                });
            }
            TileAnimate(); 
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="login-status">
            {{ if eq .Username "" }}
            <form action="/login" method="post">
                <input type="text" name="login"/>
                @
                <select name="domain">
                    <option>smtsoftware.com</option>
                </select>
                <input type="password" name="password"/>
                <input type="submit" value="Log in"/>
            </form>
            {{ else }}
            <p title="Session expires on {{.Expires}}">
            Logged in as: {{.Username}} <a href="/logout">Log out</a>
            </p>
            {{ end }}
        </div>
        <h2>Title</h2>
        <div class="col1">
            <div class="grid_full">
                <div class="tile blue">
                    <div class="tile-content-static">
                        <div class="content one">
                            <h1><a href="/">Home</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="grid_full">
                <div class="tile orange">
                    <div class="tile-content" style="top: 0px">
                        <div class="content one">
                            <h1><a href="/users/">Users</a></h1>
                        </div>
                        <div class="content two">
                            <p><a href="/users/">See the list of users</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="grid_full">
                <div class="tile green">
                    <div class="tile-content">
                        <div class="content one">
                            <h1>Placeholder</h1>
                        </div>
                        <div class="content two">
                            <h1>Placeholder</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flash">
            {{ if ne .Message "" }}Flash message: {{.Message}}{{ end }}
        </div>
        <div>
            {{ yield }}
        </div>
    </div>
</body>
</html>
