<h1>List of users</h1>
<div>
    <p>Showing users {{plus .Offset 1}}-{{plus .Offset .Count}} of {{.Total}}</p>
    <ul>
    {{range .Employees}}
        <li>{{.Name}} ({{.Username}}) <a href="/users/{{.Id}}">view profile</a></li>
    {{end}}
    </ul>
    <div class="pagination">{{- if eq .Offset 0 -}}
        <p>&laquo; previous</p>
        {{- else -}}
        <a href="/users/?offset={{minus .Offset .PageSize}}">&laquo; previous</a>
        {{- end}}
        |
        {{if lt .Count .PageSize -}}
        <p>next &raquo;</p>
        {{- else -}}
        <a href="/users/?offset={{plus .Offset .PageSize}}">next &raquo;</a>
        {{- end -}}
    </div>
</div>
