<h1>User profile</h1>
<ul>
    <li><b>Name</b>: {{.Employee.Name}}</li>
    <li><b>Username</b>: {{.Employee.Username}}</li>
    <li><b>Email</b>: {{.Employee.Email}}</li>
    <li><b>Created</b>: {{.Created}}</li>
    <li><b>Updated</b>: {{.Updated}}</li>
    <li><b>Photo</b>:
        {{if ne .Photo ""}}<img src="data:image/jpg;base64,{{.Photo}}">{{end}}
        <form enctype="multipart/form-data" method="POST" action="/users/avatarupload/{{.Employee.Id}}">
            <input type="file" name="avatar" />
            <input type="submit" value="Upload" />
        </form>
    </li>
    <li><b>Attributes</b>:
        <ul class="attr-list">
            {{range $index, $element := .AttrToDisplay}}
            <li><b>{{$index}}</b>: {{$element}}</li>
            {{end}}
            <form method="POST" action="/users/save/{{.Employee.Id}}">
            {{range $index, $element := .AttrToEdit}}
            <li><b><label for="{{$index}}">{{$index}}</label></b>: <input type="text" name="{{$index}}" value="{{$element}}" /></li>
            {{end}}
            <input type="submit" value="Save changes"/>
            </form>
        </ul>
    </li>
</ul>

